body {
    color: white;
    background-image: url(../img/bg-mosaico.jpg);
    background-size: cover;
}


/*NAVBAR*/

.navbar {
    padding-top: .9rem;
    padding-bottom: .9rem;
    position: sticky;
    top: 0;
}

.elemento {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-outline-success {
    color: #f9fafb;
    border-color: #f9fafb;
}

.btn-outline-success:hover {
    color: black;
    background-color: white;
    border-color: black;
}


/*HERO IMAGE*/

.hero-image {
    background-image: url('../img/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image-title {
    font-size: 5.5vw;
    color: #FFFFFF;
    font-weight: 700;
}


/*CARRUSEL*/

.carousel-caption {
    background-color: rgba(41, 23, 1, 0.75);
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 20px;
    width: 340px;
    margin: 0;
    opacity: 0.9;
}


/*MEDIA QUERY PARA TAMAÑO DE TEXTO DEL CARRUSEL SEGUN TAMAÑO DE PANTALLA*/

@media (max-width: 777px) {
    .carousel-caption h3 {
        font-size: 100%;
    }
    .carousel-caption p {
        font-size: 70%;
    }
}

@media (max-width: 560px) {
    .carousel-caption h3 {
        font-size: 100%;
    }
    .carousel-caption p {
        font-size: 70%;
    }
}

@media (max-width: 400px) {
    .carousel-caption h3 {
        font-size: 50%;
    }
    .carousel-caption p {
        font-size: 30%;
    }
    .texto-carrusel {
        width: 50%;
    }
}


/* CARD */

.tarjetas {
    margin: 0;
    text-align: center;
}

.tarjeta {
    padding: 10px;
    text-align: center;
}

.card {
    width: 100%;
}

.card-body {
    color: #000;
}


/* MEDIA QUERT TAMAÑO TARJETAS */

@media (max-width: 768px) {
    .carousel-caption h3 {
        font-size: 50%;
    }
    .carousel-caption p {
        font-size: 30%;
    }
    .texto-carrusel {
        width: 50%;
    }
}


/* FOOTER */

.footer {
    margin-top: 3rem;
    padding: 20px;
    color: white;
    display: flex;
    text-align: center;
}

.logo-footer {
    text-align: center;
    padding-top: 30px;
}

.social {
    text-align: center;
    padding-top: 50px;
}

.social li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.social a {
    text-decoration: none;
    color: #ffffff;
}